<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,162},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,162},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,162},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,162},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,122},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,206},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,164},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,208},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,166},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,124},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,82},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>prop1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,162},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop1_all.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9b395b1fd72fdf0b8ae65384bd8039$</string>
            <key>textureFileName</key>
            <string>prop1_all.png</string>
        </dict>
    </dict>
</plist>
